{% extends "base.html.twig" %}


    {% block nav %}
        <div class="row text-center">
            <div class="col-3  bg-black m-0 p-0">
                <a class="hoverThis" style="display: flex; align-items: center; justify-content: center; height: 60px; width: 100%; user-select: none; font-size: 22pt; font-weight: bold; text-decoration: none; color: orange;" href="/home">HOME</a>
            </div>
            <div class="col-3  bg-black m-0 p-0">
                <a class="hoverThis" style="display: flex; align-items: center; justify-content: center; height: 60px; width: 100%; user-select: none; font-size: 22pt; font-weight: bold; text-decoration: none; color: orange;" href="/contact">CONTACT</a>
            </div>
            <div class="col-3  bg-black m-0 p-0">
                <a class="hoverThis" style="display: flex; align-items: center; justify-content: center; height: 60px; width: 100%; user-select: none; font-size: 22pt; font-weight: bold; text-decoration: underline; color: orange;" href="/login">LOG IN</a>
            </div>
            <div class="col-3 bg-light" style="">
                {#            <p style="display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; user-select: none; font-size: 22pt; font-weight: bold; text-decoration: none;">Winkelmandje</p>#}
            </div>
        </div>
    {% endblock %}


            {% block main %}

                <div class="mainLogin rounded" style="margin: auto; margin-top: 200px">
                    <form class="p-3 text-center" action="" method="POST">
                        <h2 class="text-center mb-0">Log in</h2><br><br>
                        <label class="mb-1" for="usernameInput">Email</label><br>
                        <input class="mb-1 rounded" type="text" name="username" id="usernameInput"><br>
                        <label class="mb-1"  for="passwordInput">Wachtwoord</label><br>
                        <input class="rounded" type="password" name="password" id="passwordInput" placeholder=""><br><br>
                        <br>
                        <input type="submit" name="login" class="btn btn-primary" value="Log in">
                    </form>
                </div>

            {% endblock %}


